/* HOMEPAGE */

#header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header h1 {
    font-size: 4rem;
    margin-bottom: .4rem;
}

#header p {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
    text-align: center;
    color: hsl(0, 0%, 4%);
}

#header #cta-buttons {
    display: flex;
    flex-direction: row;
}

#header #cta-buttons #main-button {
    background-color: hsl(219, 86%, 57%);
    padding: .6rem 1.6rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: .5rem;
}
#header #cta-buttons #main-button:hover {
    background-color: hsl(219, 86%, 48%);
}

#header #cta-buttons #gh-button {
    display: block;
    border: 1px solid hsl(0, 0%, 69%);
    background-color: hsl(0, 0%, 96%);
    padding: .6rem .6rem .45rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
#header #cta-buttons #gh-button:hover {
    background-color: 	hsl(0, 0%, 91%);
}

#header > ul {
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#header > ul li {
    margin-right: 1.2rem;
}
#header > ul li:last-child {
    margin-right: 0;
}

#header > ul li a {
    text-decoration: none;
    color: hsl(219, 86%, 57%);
}
#header > ul li a:hover {
    text-decoration: underline;
}

/* NAVIGATION */

#navigation {
    position: fixed;
    z-index: 100;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
}

#navigation div {
    border: 1px solid hsl(0, 0%, 69%);
    border-radius: .5rem;
    width: 10rem;
    margin-bottom: .6rem;
    background-color: hsl(0, 0%, 96%);
}

#navigation div a {
    display: block;
    font-size: 1.15rem;
    color: hsl(0, 0%, 28%);
    background-color: transparent;
    padding: .4rem;
    border-radius: .5rem;
    text-decoration: none;
}
#navigation div a:hover {
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 91%);
}

#navigation ul {
    list-style-type: none;
    border: 1px solid #AFAFAF;
    border-radius: .5rem;
    background-color: #f4f4f4;
}

#navigation ul li {
    width: 10rem;
}

#navigation ul li a {
    display: block;
    font-size: 1.15rem;
    color: hsl(0, 0%, 28%);
    background-color: transparent;
    padding: .4rem;
    text-decoration: none;
}
#navigation ul li a:hover {
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 91%);
}
#navigation ul li .link-1 {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
#navigation ul li .link-2 {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top: 1px solid #AFAFAF;
    /*color: hsl(123, 72%, 48%);*/
}