/* HOMEPAGE */

#home {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	margin-bottom: 4rem;
}

#home #version-text {
    color: hsl(0, 0%, 45%);
    font-size: .7rem;
    margin-bottom: .1rem;
}

#home a {
    text-decoration: none;
}
#home h1 {
    font-size: 3.6rem;
    margin-bottom: .2rem;
    color: hsl(0, 0%, 10%)
}
#home h1:hover {
    color: rgb(26, 153, 130);
}

#home p {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

#home #cta-buttons {
    display: flex;
    flex-direction: row;
}

#home #cta-buttons #main-button {
    background-color: hsl(219, 86%, 57%);
    padding: .6rem 1.6rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: .5rem;
    transition: box-shadow 250ms;
}
#home #cta-buttons #main-button:hover {
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.2);
}

#home #cta-buttons #gh-button {
    display: block;
    border: 1px solid hsl(0, 0%, 69%);
    padding: .6rem .6rem .45rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: box-shadow 250ms, border 100ms;
}
#home #cta-buttons #gh-button:hover {
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.2);
    border: 1px solid transparent;
}


/* COMPONENTS */

#root {
    display: flex;
    height: 100vh;
}
/* NAVIGATION */

#navigation {
    padding: .8rem;
    margin: auto;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top: 1px solid hsl(0, 0%, 78%);
    border-right: 1px solid hsl(0, 0%, 78%);
    border-bottom: 1px solid hsl(0, 0%, 78%);
    background-color: hsl(0, 100%, 100%);
}

#navigation #separator {
    border: 1px solid hsl(0, 0%, 90%);
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li {
    width: 11rem;
    margin-bottom: .4rem;
}
#navigation ul li:last-child {
    margin-bottom: 0;
}

#navigation ul li a {
    display: block;
    font-size: 1.025rem;
    color: hsl(0, 0%, 40%);
    background-color: transparent;
    padding: .6rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: color, background-color 250ms;
}
#navigation ul li a:hover {
    color: hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 94%);
}

#navigation ul li #home-button {
    border: 1px solid hsl(0, 0%, 86%);
    margin-bottom: 1.2rem;
    transition: border 250ms;
}
#navigation ul li #home-button:hover {
    border: 1px solid hsl(0, 0%, 69%);
    background-color: transparent;
}

/* PAGES */

/* SECTION */

#section-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#section-wrapper > div {
    padding: .8rem;
}

#section #form-wrapper {
    padding: .8rem;
    border-radius: .5rem;
    border: 1px solid hsl(0, 0%, 78%);
}

#section #form-wrapper form {
    width: 26rem;
}

#section #form-wrapper form .currentform-text {
    font-size: .75rem;
    margin-bottom: .4rem;
    color: hsl(29, 72.2%, 49%);
}

#section #form-wrapper form div {
    margin-bottom: 1rem;
}
#section #form-wrapper form div:last-of-type {
    margin-bottom: 0;
}

#section #form-wrapper form div label {
    color: hsl(219, 86%, 57%);
    font-size: 1.05rem;
}

#section #form-wrapper form div label span {
    color: hsl(0, 1%, 35%);
    font-size: 0.8rem;
}

#section #form-wrapper form div input, #section #form-wrapper form div select {
    margin-top: .4rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
}
#section #form-wrapper form div input:focus, #section #form-wrapper form div select:focus {
    border: 1px solid hsl(0, 0%, 52%);
}

#section #form-wrapper form div input[type="text"], #section #form-wrapper form div select {
    padding: .6rem;
}

#section #form-wrapper #toggle-button, #result button {
    margin-top: 1rem;
    padding: .6rem 1rem;
    background-color: hsl(219, 86%, 57%);
    color: hsl(0, 100%, 100%);
    font-size: .8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#section #form-wrapper #toggle-button:hover, #result button:hover {
    background-color: hsl(219, 86%, 63%);
}

#section #form-wrapper #more-button {
    margin-top: 1.32rem;
    width: 1.4rem;
    height: 1.4rem;
    float: right;
    cursor: pointer;
    border-radius: 0%;
}

#section #form-wrapper p {
    margin-top: .35rem;
    color: hsl(0, 0%, 44%);
    font-size: .75rem;
}
#section #form-wrapper p:last-of-type {
    margin-top: 0;
}

#section-aside {
    padding: .8rem;
    border-radius: .5rem;
    border: 1px solid hsl(0, 0%, 78%);
    width: 26rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

#section-aside h1 {
    color: hsl(219, 86%, 57%);
    font-size: 1.01rem;
    font-weight: 400;
    margin-bottom: .4rem;
}

#section-aside p {
    font-size: .9rem;
    color: hsl(0, 0%, 44%);
}

#section-aside p span {
    color: hsl(0, 63.5%, 50.6%);
}

#section-aside p a {
    text-decoration: none;
    color: hsl(219, 86%, 57%);
}
#section-aside p a:hover {
    text-decoration: underline;
}

#preview-text {
    color: hsl(29, 72.2%, 49%);
    font-size: .95rem;
    margin-top: .2rem;
    margin-left: .2rem;
}

#preview-text span {
    color: hsl(0, 0%, 44%);
    font-size: .8rem;
}

#preview-text span a {
    text-decoration: none;
    color: hsl(219, 86%, 57%);
}
#preview-text span a:hover {
    text-decoration: underline;
}

/* PRIVACY POLICY */

#privacy-policy {
    margin: 2rem auto;
    width: 50%;
}

#privacy-policy a {
    text-decoration: none;
    color: hsl(219, 86%, 57%);
}
#privacy-policy a:hover {
    text-decoration: underline;
}

#privacy-policy > h1, h2 {
    margin-bottom: .8rem;
    margin-top: .4rem;
}

#privacy-policy #footer {
    position: initial;
	margin-top: 2rem;
}

/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;
}

#footer > ul {
    margin-bottom: 1.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
#footer > ul li {
    margin-right: .7rem;
}
#footer > ul li:last-child {
    margin-right: 0;
}

#footer > ul li a {
    text-decoration: none;
    color: hsl(219, 86%, 57%);
}
#footer > ul li a:hover {
    text-decoration: underline;
}

