/* HOMEPAGE */

#header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header h1 {
    font-size: 4rem;
    margin-bottom: .4rem;
}

#header p {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
    text-align: center;
}

#header a {
    background-color: hsl(219, 86%, 54%);
    padding: .6rem 1.6rem;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1.2rem;
}
#header a:hover {
    background-color: hsl(219, 86%, 48%);
}

/* NAVIGATION */

#navigation {
    position: fixed;
    z-index: 100;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
}

#navigation div {
    border: 1px solid #AFAFAF;
    border-radius: .5rem;
    padding: .25rem;
    width: 10rem;
    margin-bottom: .6rem;
}

#navigation div a {
    display: block;
    font-size: 1.2rem;
    color: hsl(0, 0%, 28%);
    background-color: transparent;
    padding: .4rem;
    border-radius: .5rem;
    text-decoration: none;
}
#navigation div a:hover {
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 91%);
}

#navigation ul {
    list-style-type: none;
    border: 1px solid #AFAFAF;
    border-radius: .5rem;
    padding: .25rem;
}

#navigation ul li {
    margin-bottom: .28rem;
    width: 10rem;
}
#navigation ul li:nth-last-child(1) {
    margin-bottom: 0;
}

#navigation ul li a {
    display: block;
    font-size: 1.2rem;
    color: hsl(0, 0%, 28%);
    background-color: transparent;
    padding: .4rem;
    border-radius: .5rem;
    text-decoration: none;
}
#navigation ul li a:hover {
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 91%);
}